html{
background-color: rgb(255, 2, 137)
}
*{ border:solid 1px white

}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh ;
    padding: top 5rem;
}
.titulo h1{
    color:white;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.nav a{
    color: pink
    text-decoration:none;
    background-color:azure;
    padding:1rem;
    display:inline-block;
    margin:0.5rem 
    border-radious

}
.nav ul{
    list-style:none;
    display: flex;
    flex-direction:column;
}