* {
	font-family: "Stack Sans Notch", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	/* border: 1px solid rgba(255, 255, 255, 0.363); */
	padding: 2px;
	margin: 0;
	color: #ffffff;
	box-sizing: border-box;
}
html, body {
  background-color: rgb(192, 16, 104);
  overflow: hidden;
}

main {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	min-height: 80vh;
}

li a {
	margin-block: 0.5rem;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(29, 44, 43);
	padding-inline: 1rem;
	padding-block: 0.7rem;
	border-radius: 10px;
	border: solid 1px rgb(255, 255, 255);
	transition: all .3s ease-in-out;
}
li button {
	margin-block: 0.5rem;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(29, 44, 43);
	padding-inline: 1rem;
	padding-block: 0.7rem;
	border-radius: 10px;
	border: solid 1px rgb(255, 255, 255);
	transition: all .3s ease-in-out;
}

li:nth-child(even) a:hover {
	background-color: rgb(255, 162, 0);
	border: solid 1px #ffff00;
	transform: scale(1.1) rotate(5deg);
}
li:nth-child(odd) a:hover {
	background-color: rgb(255, 162, 0);
	border: solid 1px #ffff00;
	transform: scale(1.1) rotate(-5deg);
}
li:nth-child(even) button:hover {
	background-color: rgb(255, 162, 0);
	border: solid 1px #ffff00;
	transform: scale(1.1) rotate(5deg);
}
li:nth-child(odd) button:hover {
	background-color: rgb(255, 162, 0);
	border: solid 1px #ffff00;
	transform: scale(1.1) rotate(-5deg);
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.titulo h1 {
	font-size: 5rem;
	color: rgb(255, 255, 255);
}

 h1{
	animation: glitch 3s infinite;
 }
@keyframes glitch {
	0% {
		text-shadow: #b4cf06 0px 0px, #0d22da 0px 0px;
	}
	50% {
		text-shadow: #ff0000 -8px 0px, #60ffff 8px 0px;
	}
	100% {
		text-shadow: #b4cf06 0px 0px, #0d22da 0px 0px;
	}
}

.titulo p {
	text-align: center;
	font-style: italic;
	font-size: .8rem;
}
